*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;  
    font-weight:400;
    text-align: left;
    background-color:#fff;
    line-height:1.5;
    color:rgb(20, 20, 20);   
}

ul,a{
    text-decoration: none;
   
}
a{
    color:#080b0e!important;
}

img{
    width:30%;
}
a{
   color: #007bff;
}
button{
    width:100px;
    height:30px;
    border:1px solid green;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
td>img{
    border-radius: 50%;
    width: 40px;
   
}
th,td{
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    /* display: inline-block; */
    white-space: nowrap;
    width:10%;
}

tr:last-child {
    border-bottom: none;
  }
.reject,.cancel{
    color: #fff;
    background-color: rgb(226, 78, 78);
    border:1px solid rgb(211, 29, 44);
}
.container{
    max-width: 100%;
    
}
.create{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.ongoing{
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.wrapper{
    background-color: rgb(178, 169, 187);
    background-attachment: fixed;
    width: 100%;
    height: 140%;
}
.navbar-wrapper
{
    height:56px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 4;
}
.navbar-logo{
    background-color:  #23282d;
    width: 193px;
    margin: auto;
    line-height: 56px;  
    float:left;
    height:100%;
}
.inner_logo{
    align-items: center;
    /* display: flex; */
    width: 100%;
    cursor: pointer;
}
.inner_logo>h1{
    color:#fff;
    font-size:20px;
    
}
.inner_logo>h2>i{
     margin: 20px;
     color:rgb(204, 38, 38);
     
}

.navbar-container{
float:right;
border:1px solid #fff;
width: calc(100% - 193px);
background-color:  #fff;  
line-height: 56px;
padding: 0 20px;
height:100%;
cursor: pointer;
-webkit-box-shadow: 7px 7px 30px 0px rgba(18, 50, 50, 0.45);
-moz-box-shadow:    7px 7px 30px 0px rgba(18, 50, 50, 0.45);
box-shadow:         7px 7px 30px 0px rgba(18, 50, 50, 0.45);
z-index: 1;
}
.inner_nav{   
    font-size: 7px;
    color:red;  
}

.fa-bars{
   color:rgb(15, 15, 15);
   float:left;
   position: relative;
   margin-left:5px;
  margin-top:20px;
  font-size:20px;
}
.inner_nav>h1{
    float:right;
    margin-left:20px;
    color:#020508;
}

.body_container{
    display: block;
    margin-left: 12%;
    margin-top: 56px;
    margin-right: 5%;
    height: auto;
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 2;
}
   
.top_bar{
    display:block;
    margin-left:calc(100%-20%);
    /* z-index: 3; */
}



.menu{
    background-color:#ffe;
    width: 193px;
     margin: auto; 
    padding:18px;    
    float:left;
    height:100%; 
    position: fixed;
    top:56px;
}

ul.top_menu{
    color:red;
    list-style: none;
   
}
ul.top_menu>li{
    margin-left:5px;
    padding:10px;
    width:calc(100%-193px);
    font-size: 14px;
    color:#080b0e;
    white-space: nowrap;
}
ul.top_menu>p{
    color:green;
    font-size: 14px;
}
li:active{
    display: block;
   
    background-color: #0073aa !important;
    
    color: #fff !important;
    width:105%;
    
}

i{
    margin-right:15px;
}
ul.button_menu{
    color:red;
    list-style: none;
}
ul.button_menu>li{
    margin-left:5px;
    padding:10px;
    font-size: 14px;
    
}
ul.button_menu>p{
    color:green;
    font-size: 14px;
}
/* .inner_table{
    display: flex;
    border:1px solid rgb(39, 36, 36);
    margin-left:20%;
    margin-right:5%; 
    -webkit-box-shadow: 0px 14px 19px -8px rgba(0,0,0,0.91); 
    box-shadow: 0px 14px 19px -8px rgba(0,0,0,0.91);
   max-width:100%;
} */
.box_container{
   
    /* display: flex;
    flex-direction: row; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%;  
    margin-left:15px;
}
.inner_box{
    display:block;
    position: relative;
    height:20%;
    margin-top:10px;
    padding:20px; 
    /* background-color: blueviolet; */
    /* margin-bottom: 50px; */
    width: 120%;  
    border-radius: 2px;  
 
}
.top_bar{
    display:block;
    margin-top: 50px;
    margin-left: 75px;
}
.left_title>h1{
    /* float:left; */
    display: inline-block;

    font-weight: 600;
    color: #4a6076;
    font-size: 20px;
    margin-top:30px;
}
.right_title{
    /* float: right; */
    display: inline-block;
    padding-right: 10px;
    margin-left:83%;
    margin-top:-30px;
  
}

.link{
  
    list-style-type: none;
    /* margin-left:20rem; */
}
.link>li>a{
    color: #007bff !important;
    cursor: pointer;
}
.link>li {
    display:inline;
    
}
    /* overflow: hidden; */
   /* float:right; */

.box_1{
    display:block;
   /* display:block; */
    float:left;
    border:1px solid #fff;
    box-sizing: border-box;
    width:32%;
    padding:10px;
    background-color: #ffffff;
    margin-right:2%;
    border-top: 4px solid rgba(0, 115, 170, 0.5);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* margin-bottom: 30px; */
    -webkit-box-shadow: 4px 1px 16px -3px #000000; 
    box-shadow: 4px 1px 16px -3px #000000;
    cursor: pointer;
}

.box_2{
    display:block;
    float:left; 
    margin-right:2%;
    box-sizing: border-box;
    border:1px solid #ffffff;
    width:32%;
    padding:10px; 
    background-color: #ffffff;
    border-top: 4px solid rgba(0, 115, 170, 0.5);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 1px 16px -3px #000000; 
    box-shadow: 4px 1px 16px -3px #000000;
    cursor: pointer;

}

.box_3{
    float:left; 
    display:block;
    border:1px solid #fff;
    width:32%;
    box-sizing: border-box;
    padding:10px;
    background-color: #fff;
    border-top: 4px solid rgba(0, 115, 170, 0.5);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 1px 16px -3px #000000; 
    box-shadow: 4px 1px 16px -3px #000000;
    cursor: pointer;
}

.inner_box1>i{
    float:left; 
    font-size:5rem;
    color:rgb(4, 128, 0);
    border: 4px solid #00FF66;
    border-radius: 50%;
    padding:10px;
    background-color: #fff;
   
}

.inner_box1>p{
    /* float:right; */
padding-left:230%;
margin-top:20px;
}

.inner_box2>i{
    float:left; 
    font-size:5rem;
    color:#FF0033;
    border: 4px solid #CC3333;
    border-radius: 50%;
    /* align-items: center; */
    /* margin-top:-10px; */
   padding:10px;
    background-color: #fff;
}

.inner_box2>p{
    /* float:right; */
padding-left:220%;
margin-top:20px;
}

.inner_box3>i{
    float:left; 
    font-size:5rem;
    color:#DFDF00;
    border: 4px solid #FFE920;
    border-radius: 50%;
    /* align-items: center; */
    /* margin-top:-10px; */
   padding:10px;
    background-color: #fff;
}

.inner_title{
    text-align:right;
    line-height: 30px;
    margin-top:20px;

}
table, tr {
    /* border: 1px solid black; */
    border-collapse: collapse;  
  
  }
table{
    width:100%;
    table-layout: auto;
    padding-left:20px;
    padding-right:80px;
}
    /* padding:5%; */
    /* } */ 
tr {
    border-bottom: 1pt solid black;
   
    
 }

 .body_table{
    display:block;
    position: relative;
    margin-left:30px;
    width: calc(100% - 30px);
   
     
 }
.table_container{
    background-color: #f8f9fa;
    /* position: absolute; */
    height: auto;  
   -webkit-box-shadow: 4px 1px 16px -3px #000000; 
    box-shadow: 4px 1px 16px -3px #000000;
}
.inner_table{
    position:relative;    
    border-radius: 2px;
    border-top: 4px solid rgba(0, 115, 170, 0.5);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 30px;
    /* background-color: gray; */
   
}

.table_container>.inner_table>h2{
    padding:20px;
    font-size:1em;
    font-weight:600;
 
}
.data_list{
    position:flex;
    width: 100%;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}

@media (max-width: 1500px){

    .box_container{
        margin-bottom: 20px;
        width: 100%;  
        margin-left:5%;
        margin-right:10%;
    }

    .body_table{
        width: 95%;  
        margin-left:7%;
        margin-right:10%;
        
     }
     table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
       
    }

}
@media  (max-width: 1200px){
    
    .box_container{
        margin-bottom: 20px;
        width: 100%;  
        margin-left:10%;
        margin-right:10%;
    }

    .body_table{
        width: 95%;  
        margin-left:12%;
        margin-right:10%;
        
     }
     table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .top_bar{
        display:block;
        margin-top: 50px;
        margin-left:12%;
    }
    
    .right_title{
        /* float: right; */
        display: inline-block;
        padding-right: 0.5rem;
        margin-left:80%;
        margin-top:-30px;
      
    }
    @media  (max-width: 960px){
    
        .box_container{
            margin-bottom: 20px;
            width: 90%;  
            margin-left:20%;
            /* margin-right:15%; */
        }
    
        .body_table{
            width: 83%;  
            margin-left:22%;
            /* margin-right:15%; */
            
         }
         .top_bar{
           
            margin-top: 50px;
            margin-left:22%;
        }
        
        .right_title{
            /* float: right; */
            display: inline-block;
            padding-right: 0.5rem;
            margin-left:80%;
            margin-top:-30px;
          
        }
         tr{
            /* display: block; */
            width: 55%;   
            
         }
         table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        .box_1{
            width:100%;
            margin-bottom: 10px;
        }
        .box_2,.box_3{
            width:49%;
            
        }
       
}
@media  (max-width: 750px){
    
    .box_container{
        margin-bottom: 20px;
        width: 90%;  
        margin-left:24%;
        /* margin-right:15%; */
    }

    .body_table{
        width: 83%;  
        margin-left:27%;
        /* margin-right:15%; */
        
     }
    
     .top_bar{
           
        margin-top: 50px;
        /* margin-left:27%; */
    }
    .left_title>h1{
        color:red;
        width:100%;
        margin-left:10%; 
    }

    .link{
      
      
        margin-left:10%; 
        width:100%;

    }
     tr{
        /* display: block; */
        width: 55%;   
        
     }
     table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .box_1{
        width:100%;
        margin-bottom: 10px;
    }
    .box_2{
        width:100%;
        margin-bottom: 10px;
    }
    
    .box_3{
        width:100%;
        margin-bottom: 10px;
        
    }
     .top_bar{
           
            margin-top: 50px;
            margin-left:22%;
        }
        
        .right_title{
            /* float: right; */
            display: inline-block;
            padding-right: 0.5rem;
            margin-left:80%;
            margin-top:-30px;
          
        }
}

@media  (max-width: 600px){
    
    .box_container{
        margin-bottom: 20px;
        width: 75%;  
        margin-left:37%;
        /* margin-right:15%; */
    }

    .body_table{
        width: 68%;  
        margin-left:41%;
        /* margin-right:15%; */
        
     }
     .top_bar{
           
        margin-top: 50px;
        /* margin-left:27%; */
    }
    .left_title>h1{
        color:red;
        width:100%;
        margin-left:23%; 
    }

    .link{
      
      
        margin-left:10%; 
        width:100%;

    }
     tr{
        /* display: block; */
        width: 55%;   
        
     }
     table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .box_1{
        width:100%;
        margin-bottom: 10px;
    }
    .box_2{
        width:100%;
        margin-bottom: 10px;
    }
    
    .box_3{
        width:100%;
        margin-bottom: 10px;
        
    }
}


@media  (max-width: 450px){
    
    .wrapper{
       
        height: 180%;
    }
    .box_container{
        margin-bottom: 20px;
        width: 68%;  
        margin-left:45%;
        /* margin-right:15%; */
    }

    .body_table{
        width: 60%;  
        margin-left:47%;
        /* margin-right:15%; */
        
     }
     .top_bar{
           
        margin-top: 50px;
        /* margin-left:27%; */
    }
    .left_title>h1{
        color:red;
        width:100%;
        margin-left:34%; 
        font-size: 12pt;
    }

    .link{
      
        font-size: 10pt;
        margin-left:10%; 
        width:100%;

    }
     tr{
        /* display: block; */
        width: 55%;   
        
     }
     table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .box_1{
        width:100%;
        margin-bottom: 10px;
    }
    .box_2{
        width:100%;
        margin-bottom: 10px;
    }
    
    .box_3{
        width:100%;
        margin-bottom: 10px;
        
    }
}